# ==============================================================
# Telegram API credentials (получите на https://my.telegram.org)
# ==============================================================
# Трижды подумайте, если захотите вставить от оф. клиента тележки
TG_API_ID=
TG_API_HASH=
